{% extends "base.html" %}

{% block title %}
    Edit Post
{% endblock title %}

{% block body %}
    <main>
        <h2>Edit Post by {{ post.user.full_name }}</h2>
        <form method="post">
            <label>
                Title
                <input name="title" value="{{ post.title }}"  maxlength="50" required type="text">
            </label>
            <label>
                Content
                <textarea name="content" required>{{ post.content }}</textarea>
            </label>
            <fieldset>
                <legend>Tags</legend>
                {% for tag in tags %}
                    <label>
                        {% if tag in post.tags %}
                            <input checked name="tags" value="{{ tag.id }}" type="checkbox">
                        {% else %}
                            <input name="tags" value="{{ tag.id }}" type="checkbox">
                        {% endif %}
                        {{ tag.name }}
                    </label>
                {% endfor %}
            </fieldset>
            <div>
                <a href="/users/{{ post.user_id }}">
                    <button type="button">Cancel</button>
                </a>
                <button type="submit">Save</button>
            </div>
        </form>
    </main>
{% endblock body %}
