{% extends "base.html" %}

{% block title %}
    Post: {{ post.id }}
{% endblock title %}

{% block body %}
    <main>
        <article>
            <h2>{{ post.title }}</h2>
            <p class="author">
                By <b>{{ post.user.full_name }}</b>
                on <i>{{ post.friendly_date }}</i>
            </p>
            <p class="space">
                <b>Tags: </b>
                {% if tags %}
                    {% for tag in tags %}
                        <span class="tag">
                            {{ tag.name }}
                        </span>
                    {% endfor %}
                {% else %}
                    <span>No tags yet on this post.</span>
                {% endif %}
            </p>
            <p class="story">{{ post.content }}</p>
        </article>
        <div class="buttons">
            <a href="/users/{{ post.user.id }}">
                <button class="cancel" type="button">Author</button>
            </a>
            <a href="/posts/{{ post.id }}/edit">
                <button type="button">Edit</button>
            </a>
            <form action="/posts/{{ post.id }}/delete" method="post">
                <button class="delete" type="submit">Delete</button>
            </form>
        </div>
    </main>
{% endblock body %}
