{% extends "base.html" %}

{% block title %}
    User: {{ user.full_name }}
{% endblock title %}

{% block body %}
    <main>
        <figure>
            <section>
                <img src="{{ user.image_url }}" alt="Profile Photo">
            </section>
            <section>
                <h2>{{ user.full_name }}</h2>
                <div>
                    <a href="/users/{{ user.id }}/edit">
                        <button class="edit" type="button">Edit</button>
                    </a>
                    <form action="/users/{{ user.id }}/delete" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </section>
        </figure>
        <section>
            <h3>Posts</h3>
            <a href="/users/{{ user.id }}/posts/new">
                <button type="button">Add Post</button>
            </a>
            <ul>
                {% if posts %}
                    {% for post in posts %}
                        <li>
                            <a href="/posts/{{ post.id }}">
                                {{ post.title }}
                            </a>
                        </li>
                    {% endfor %}
                {% else %}
                    <li>No posts created yet.</li>
                {% endif %}
            </ul>
        </section>
    </main>
{% endblock body %}
